body {
	background-color: hsl(30, 38%, 92%);
	justify-content: center;
	
}

section {
	background-color: rgb(255, 255, 255);
	margin: 15px;
	border-radius: 10px;
	text-align: left;
}
.container {
	width: 375px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	overflow: hidden;
}

img {
	width: 100%;
}

h1 {
	font-family: 'Fraunces', serif;
	font-size: 50px;
	margin-top: 5px;
}

h2 {
	color: hsl(228, 12%, 48%);
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	letter-spacing: 5px;
	margin-bottom: 3px;
}

.parrafo {
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
	margin-top: 1px;
}

.precio-actual {
	color: hsl(158, 36%, 37%);
	font-family: 'Fraunces', serif;
	font-size: 40px;
}

.precio-antiguo {
	color: hsl(228, 12%, 48%);
	font-family: 'Montserrat', sans-serif;
	text-decoration: line-through;
	font-size: 20px;
	
}

button {
	background-color: hsl(158, 36%, 37%);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	width: 80%;
	color: white;
	border: none;
	padding: 10px 20px;
}
